<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>Web log viewer</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="../static/css/normalize.css"
	th:href="@{/css/normalize.css}">
<link rel="stylesheet" href="../static/css/skeleton.css"
	th:href="@{/css/skeleton.css}">

<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="../static/images/favicon.png"
	th:href="@{/images/favicon.png}">

</head>
<body>

	<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
		<div class="row">
			<div class="one-half column">
				<h1>Web log viewer</h1>
				<table>
					<thead>
						<tr>
							<th>Configuration</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Tomcat/container home</td>
							<td th:text="${tomcatHome}">value</td>
						</tr>
						<tr>
							<td>Log path</td>
							<td th:text="${configLogPath}">value</td>
						</tr>
						<tr>
							<td>Log files</td>
							<td th:text="${configLogFiles}">value</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="two-thirds column">
				<table class="u-full-width">
					<thead>
						<tr>
							<th>File</th>
							<th>Size</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="f : ${files}">
							<td><span th:text="${f.name}">File name</span></td>
							<td><span th:text="'(' + ${f.size} + ')'">2354</span></td>
							<td><a href="#" th:href="@{'/download/' + ${f.id}}">Download</a>
								<a href="#" th:href="@{'/watch/' + ${f.id}}">Watch</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
