<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>Web log viewer</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="../static/css/normalize.css"
	th:href="@{/css/normalize.css}">
<link rel="stylesheet" href="../static/css/skeleton.css"
	th:href="@{/css/skeleton.css}">
<link rel="stylesheet" href="../static/css/custom.css"
	th:href="@{/css/custom.css}">

<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="../static/images/favicon.png"
	th:href="@{/images/favicon.png}">

</head>
<body>

	<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<input id="fileId" type="hidden" th:if="${file != null}"
		th:value="${file.id}">
	<div class="container">
		<div class="row">
			<div class="one-half column">
				<h1>Watching log of file</h1>
				<p>
					<strong> <span th:if="${file != null}"
						th:text="${file.name}"></span> <span th:if="${file == null}">Log
							file not found</span>
					</strong>
				</p>
				<a class="button button-primary" href="#" th:href="@{/}">Log
					files list</a> <a th:if="${file != null}" class="button button-primary"
					href="#" th:href="@{'/download/' + ${file.id}}">Download file</a>
			</div>
		</div>
	</div>
	<div th:if="${file != null}" class="logSection">
		<pre th:unless="${file.tooBig}" id="logContent">
		Loading content...			
		</pre>
		<pre th:if="${file.tooBig}" id="logContent">		
		File too large to display, please <a href="#"
				th:href="@{'/download/' + ${file.id}}">download</a> it instead			
		</pre>
	</div>

	<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"
		th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script type="text/javascript" src="../static/js/watcher.js"
		th:unless="${file.tooBig}" th:src="@{/js/watcher.js}"></script>
</body>
</html>
