<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>Web log viewer</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="../static/css/normalize.css"
	th:href="@{/css/normalize.css}">
<link rel="stylesheet" href="../static/css/skeleton.css"
	th:href="@{/css/skeleton.css}">

<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="../static/images/favicon.png"
	th:href="@{/images/favicon.png}">

</head>
<body>

	<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
		<div class="row">
			<div class="one-half column">
				<h1>Watching log of file</h1>
				<strong>
					<span th:if="${file != null}" th:text="${file.name}"></span>					
					<span th:if="${file == null}">Log file not found</span>
				</strong>
				<br>
				<a class="button button-primary" href="#" th:href="@{/}">Log files list</a>
			</div>
		</div>
		<div class="row">
			<div class="one column"></div>
			<div class="ten columns">
			</div>
			<div class="one column"></div>
		</div>
	</div>

	<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
